{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:flowtype/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    },
  },
  "env": {
    "browser": true,
    "jest": true,
    "node": true
  },
  "plugins": [
    "eslint-plugin-flowtype"
  ],
  "rules": {
    "key-spacing"               : 0,
    "max-len"                   : [2, 120, 4],
    "object-curly-spacing"      : [2, "always"],
    "indent"                    : [2, 2]
  }
}
